flow.json
[{"id":"3890e7b7.d406c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"11d06b41.6d4ea5","type":"mqtt-broker","z":"","name":"","broker":"influx.itu.dk","port":"8883","tls":"f58845b9.9c3388","clientid":"IoT2020sec/meters","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f58845b9.9c3388","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"1d308793.daa918","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eee77c15.8f5a7","type":"mqtt in","z":"3890e7b7.d406c8","name":"","topic":"IoT2020sec/meters","qos":"2","datatype":"auto","broker":"11d06b41.6d4ea5","x":370,"y":160,"wires":[["585b2e87.0fda1"]]},{"id":"585b2e87.0fda1","type":"function","z":"3890e7b7.d406c8","name":"log","func":"node.log(msg.payload);\n\nvar bytes = []; // char codes\n\nfor (var i = 0; i < msg.payload.length; ++i) {\n    var code = msg.payload.charCodeAt(i);\n    bytes = bytes.concat([code]);\n}\n\nvar b;\nvar first = bytes[0].toString(2)\nif(first[0] === 0) b = \"false\" \nelse b = \"true\";\nnode.log(\"fake: \" + b);\nnode.log(\"id: \" + first.substring(1));\nnode.log(\"timestamp: \" + bytes[1] + bytes[2] + bytes[3] + bytes[4]);\nnode.log(\"Wh: \" + bytes[5] + bytes[6]);\n\nvar obj = {\n    \"fake\" : b,\n    \"id\" : first.substring(1),\n    \"timestamp\" : (bytes[1] + bytes[2] + bytes[3] + bytes[4]).atob(),\n    \"Wh\" : (bytes[5] + bytes[6]).atob()\n}\n\nreturn obj;\n\n","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["7b0b7fc3.1d21e"]]},{"id":"7b0b7fc3.1d21e","type":"file","z":"3890e7b7.d406c8","name":"data","filename":"data.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":790,"y":200,"wires":[[]]},{"id":"f0021871.2b5c28","type":"create dataset","z":"3890e7b7.d406c8","name":"","path":"test/data.csv","saveFolder":"test/datasets","saveName":"watts","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":560,"y":340,"wires":[["54d0affb.43ea3"]]},{"id":"e213781e.610f38","type":"load dataset","z":"3890e7b7.d406c8","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":510,"y":460,"wires":[["45726884.e415a8"],["44da9d90.cebe94"]]},{"id":"eec1aff9.b2cb9","type":"inject","z":"3890e7b7.d406c8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":340,"wires":[["f0021871.2b5c28"]]},{"id":"719f1efb.29ff7","type":"inject","z":"3890e7b7.d406c8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":460,"wires":[["e213781e.610f38"]]},{"id":"d803b88e.e288b8","type":"inject","z":"3890e7b7.d406c8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":700,"wires":[["19e21613.c62c7a","46307a15.1e4684"]]},{"id":"54d0affb.43ea3","type":"debug","z":"3890e7b7.d406c8","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":340,"wires":[]},{"id":"44da9d90.cebe94","type":"debug","z":"3890e7b7.d406c8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":500,"wires":[]},{"id":"d57aa78b.0bc138","type":"debug","z":"3890e7b7.d406c8","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":420,"wires":[]},{"id":"d21c0887.a6d8e8","type":"predictor","z":"3890e7b7.d406c8","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":770,"y":680,"wires":[["55e07185.c6d3d"],["a1014ffe.0516b"]]},{"id":"45726884.e415a8","type":"decision tree classifier","z":"3890e7b7.d406c8","name":"decision tree classifier trainer","savePath":"test/models","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":760,"y":460,"wires":[["d57aa78b.0bc138"],["44da9d90.cebe94"]]},{"id":"55e07185.c6d3d","type":"assessment","z":"3890e7b7.d406c8","name":"","score":"accuracy_score","x":810,"y":620,"wires":[["d3fe0e69.ca925"],["a1014ffe.0516b"]]},{"id":"19e21613.c62c7a","type":"load dataset","z":"3890e7b7.d406c8","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":510,"y":620,"wires":[["55e07185.c6d3d"],["a1014ffe.0516b"]]},{"id":"46307a15.1e4684","type":"load dataset","z":"3890e7b7.d406c8","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":510,"y":740,"wires":[["d21c0887.a6d8e8"],["a1014ffe.0516b"]]},{"id":"a1014ffe.0516b","type":"debug","z":"3890e7b7.d406c8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":740,"wires":[]},{"id":"d3fe0e69.ca925","type":"debug","z":"3890e7b7.d406c8","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":620,"wires":[]},{"id":"d2f8b00.94b4b5","type":"predictor","z":"3890e7b7.d406c8","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":670,"y":840,"wires":[["37f4dfd3.12737"],["50fdc6d4.fc1f68"]]},{"id":"37f4dfd3.12737","type":"mqtt out","z":"3890e7b7.d406c8","name":"","topic":"predictions","qos":"","retain":"","broker":"1d308793.daa918","x":950,"y":800,"wires":[]},{"id":"50fdc6d4.fc1f68","type":"debug","z":"3890e7b7.d406c8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":880,"wires":[]},{"id":"cfa8cd51.7426b","type":"mqtt in","z":"3890e7b7.d406c8","name":"","topic":"classification","qos":"2","datatype":"auto","broker":"1d308793.daa918","x":360,"y":840,"wires":[["d2f8b00.94b4b5"]]}]